* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 100%;
  position: relative;
}

.hero {
  height: 130vh;
  background: url('../../img/background-atas.png') center/cover no-repeat;
  position: relative;
  background-size: 117%;
  color: white;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.black-full {
  background-color: #000;
  height: 150vh;
}

.middle-image {
  height: 100vh;
  background: url('../../img/background-bawah.png') center/cover no-repeat;
  position: relative;
}

.middle-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.middle-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.black-half {
  background-color: #000;
  height: 75vh;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 4rem 10rem;
  position: relative;
  z-index: 2;
}

.nav-button {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  text-decoration: none;
  margin-left: 3rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
  transition: opacity 0.3s ease;
}

.nav-button:hover {
  opacity: 0.8;
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  margin-top: 200px;
  position: relative;
  z-index: 2;
  gap: 12rem;
}

.left-section {
  position: relative;
  text-align:  center;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 9rem;
  font-weight: 700;
  line-height: 1;
}

.subtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  letter-spacing: 23px;
  margin-top: 1rem;
  width: 600px;
  font-size: 1.2rem;
}

/* Right Section */
.right-section {
  flex: none;
  max-width: 430px;
}

accent-line {
  position: absolute;
  width: 1px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  z-index: 1;
}

.accent-line.left {
  left: 2rem;
}

.accent-line.right {
  right: 2rem;
}


.episode-number {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.episode-title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.episode-description {
  font-family: 'IBM Mono Desc', monospace;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.trailer-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 4px;
}