:root {
    --IBM-mono-desc-font-family: "IBM Plex Mono", Helvetica;
    --IBM-mono-desc-font-weight: 300;
    --IBM-mono-desc-font-size: 16px;
    --IBM-mono-desc-letter-spacing: 0px;
    --IBM-mono-desc-line-height: 120.00000476837158%;
    --IBM-mono-desc-font-style: normal;
  }
  